body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16,1fr);
    gap: 10px;
    width: 80%;
}

.grid-item {
    padding-bottom: 100%;
    background-color: beige;
}